<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="grafical.sighos.plugin.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="grafical.sighos.plugin.perspective"
            id="grafical.sighos.plugin.perspective"
            name="perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="grafical.sighos.plugin.commands.exitHandler"
            id="grafical.sighos.plugin.commands.exit"
            name="exit">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.maximizeHandler"
            id="grafical.sighos.plugin.commands.maximize"
            name="maximize no funcional">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.dialogs.standard.handler.opendialog"
            id="grafical.sighos.plugin.dialogs.standard"
            name="dialogo">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.abrirficherohandler"
            id="grafical.sighos.plugin.commands.abrirfichero"
            name="abrirfichero">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.guardarficherohandler"
            id="grafical.sighos.plugin.commands.guardarfichero"
            name="guardarfichero">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.NewProyectHandler"
            id="grafical.sighos.plugin.commands.nuevoFormulario"
            name="NuevoFormulario">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.editor.handler.LlamadaEditor"
            id="grafical.sighos.plugin.commands.LlamadaEditor"
            name="LlamadaEditor">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.saveProyectHandler"
            id="grafical.sighos.plugin.commands.saveProyect"
            name="SaveProyect">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.loadProyectHandler"
            id="grafical.sighos.plugin.commands.loadProyect"
            name="LoadProyect">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.NewResourceTypeHandler"
            id="grafical.sighos.plugin.commands.NewResourceType"
            name="NewResourceType">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.NewElementTypeHandler"
            id="grafical.sighos.plugin.commands.NewElementType"
            name="NewElementType">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.NewResourceFormHandler"
            id="grafical.sighos.plugin.commands.NewResource"
            name="NewResource">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.NewCycleFormHandler"
            id="grafical.sighos.plugin.commands.NewCycle"
            name="NewCycle">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.NewActivityFormHandler"
            id="grafical.sighos.plugin.commands.NewActivity"
            name="NewActivity">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.NewWorkGroupFormHandler"
            id="grafical.sighos.plugin.commands.NewWorkgroup"
            name="NewWorkgroup">
      </command>
      <command
            defaultHandler="grafical.sighos.plugin.commands.NewGeneratorFormHandler"
            id="grafical.sighos.plugin.commands.NewGenerator"
            name="NewGenerator">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="Files_SIGHOS">
            <command
                  commandId="grafical.sighos.plugin.commands.exit"
                  label="exit"
                  style="push"
                  tooltip="Salir de la aplicacion">
            </command>
            <command
                  commandId="grafical.sighos.plugin.commands.guardarfichero"
                  label="Export proyect"
                  style="push">
            </command>
            <command
                  commandId="grafical.sighos.plugin.commands.nuevoFormulario"
                  label="New Proyecto"
                  style="push">
            </command>
            <command
                  commandId="grafical.sighos.plugin.commands.loadProyect"
                  label="Load Proyect"
                  style="push">
            </command>
            <command
                  commandId="grafical.sighos.plugin.commands.saveProyect"
                  label="Save Proyect"
                  style="push">
            </command>
         </menu>
         <menu
               id="NewObjects"
               label="New Objects">
            <command
                  commandId="grafical.sighos.plugin.commands.NewResourceType"
                  label="New Resource Type"
                  style="push">
            </command>
            <command
                  commandId="grafical.sighos.plugin.commands.NewElementType"
                  label="New Element Type"
                  style="push">
            </command>
            <command
                  commandId="grafical.sighos.plugin.commands.NewResource"
                  label="New Resource"
                  style="push">
            </command>
            <command
                  commandId="grafical.sighos.plugin.commands.NewCycle"
                  label="New Cycle"
                  style="push">
            </command>
            <command
                  commandId="grafical.sighos.plugin.commands.NewActivity"
                  label="New Activity"
                  style="push">
            </command>
            <command
                  commandId="grafical.sighos.plugin.commands.NewWorkgroup"
                  label="New WorkGroup"
                  style="push">
            </command>
            <command
                  commandId="grafical.sighos.plugin.commands.NewGenerator"
                  label="New Generator"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="grafical.sighos.plugin.view.inicial"
            id="grafical.sighos.plugin.view.inicial"
            name="inicial"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="grafical.sighos.plugin.view.comando"
            id="grafical.sighos.plugin.view.comando"
            name="Proyect"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="grafical.sighos.plugin.view.comando"
               minimized="false"
               ratio="0.3"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="grafical.sighos.plugin.editor.editors.RTEditor"
            default="false"
            icon="icons/RT.gif"
            id="grafical.sighos.plugin.editor.editors.RTEditor"
            name="RTEditor">
      </editor>
      <editor
            class="grafical.sighos.plugin.editor.editors.ETEditor"
            default="false"
            icon="icons/ET.gif"
            id="grafical.sighos.plugin.editor.editors.ETEditor"
            name="ETEditor">
      </editor>
      <editor
            class="grafical.sighos.plugin.editor.editors.WEditor"
            default="false"
            icon="icons/w.gif"
            id="grafical.sighos.plugin.editor.editors.WEditor"
            name="WEditor">
      </editor>
      <editor
            class="grafical.sighos.plugin.editor.editors.REditor"
            default="false"
            icon="icons/r.gif"
            id="grafical.sighos.plugin.editor.editors.REditor"
            name="REditor">
      </editor>
      <editor
            class="grafical.sighos.plugin.editor.editors.CEditor"
            default="false"
            icon="icons/C.gif"
            id="grafical.sighos.plugin.editor.editors.CEditor"
            name="CEditor">
      </editor>
      <editor
            class="grafical.sighos.plugin.editor.editors.AEditor"
            default="false"
            icon="icons/A.gif"
            id="grafical.sighos.plugin.editor.editors.AEditor"
            name="AEditor">
      </editor>
      <editor
            class="grafical.sighos.plugin.editor.editors.GEditor"
            default="false"
            icon="icons/GG.gif"
            id="grafical.sighos.plugin.editor.editors.GEditor"
            name="GEditor">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="grafical.sighos.plugin.application"
            name="G SIGHOS">
         <property
               name="appName"
               value="G SIGHOS">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="windowImages"
               value="icons/g.gif">
         </property>
      </product>
   </extension>

</plugin>
