<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            description="esto es una categoria "
            id="ok.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="ok.commands.category"
            helpContextId="esto es un comandos 1"
            id="ok.commands.sampleCommand1"
            name="Sample Command">
      </command>
      <command
            categoryId="ok.commands.category"
            helpContextId="esto es un comandos 2"
            id="ok.commands.sampleCommand2"
            name="Sample Command">
      </command>
      <command
            categoryId="ok.commands.category"
            helpContextId="esto es un comandos 3"
            id="ok.commands.sampleCommand3"
            name="Sample Command">
      </command>
      <command
            categoryId="ok.commands.category"
            helpContextId="esto es un comandos 4"
            id="ok.commands.sampleCommand4"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ok.commands.sampleCommand1"
            class="ok.handlers.simplemodelo1">
      </handler>
      <handler
            class="ok.handlers.simplemodelo2"
            commandId="ok.commands.sampleCommand2">
      </handler>
      <handler
            class="ok.handlers.simplemodelo3"
            commandId="ok.commands.sampleCommand3">
      </handler>
      <handler
            class="ok.handlers.simplemodelo4"
            commandId="ok.commands.sampleCommand4">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ok.commands.sampleCommand1"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+1"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      <key
            commandId="ok.commands.sampleCommand2"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+2">
      </key>
      <key
            commandId="ok.commands.sampleCommand3"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+3">
      </key>
      <key
            commandId="ok.commands.sampleCommand4"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+4">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Elementos"
               mnemonic="M"
               id="ok.menus.sampleMenu">
            <command
                  commandId="ok.commands.sampleCommand1"
                  icon="icons/1.gif"
                  id="ok.menus.sampleCommand"
                  label="elemento 1"
                  mnemonic="S">
            </command>
            <command
                  commandId="ok.commands.sampleCommand2"
                  icon="icons/2.gif"
                  label="elemento 2"
                  style="push">
            </command>
         </menu>
         <menu
               id="menu2"
               label="Estado">
            <command
                  commandId="ok.commands.sampleCommand3"
                  icon="icons/3.gif"
                  label="estado 1"
                  style="push">
            </command>
            <command
                  commandId="ok.commands.sampleCommand4"
                  icon="icons/4.gif"
                  label="estado 2"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ok.toolbars.sampleToolbar">
            <command
                  commandId="ok.commands.sampleCommand1"
                  helpContextId="Nos dice hola"
                  icon="icons/sample.gif"
                  id="ok.toolbars.sampleCommand1"
                  tooltip="Say hello world">
            </command>
            <command
                  commandId="ok.commands.sampleCommand2"
                  helpContextId="Nos dice hola"
                  icon="icons/sample.gif"
                  id="ok.toolbars.sampleCommand2"
                  tooltip="Say hello world">
            </command>
            <command
                  commandId="ok.commands.sampleCommand3"
                  helpContextId="Nos dice hola"
                  icon="icons/sample.gif"
                  id="ok.toolbars.sampleCommand3"
                  tooltip="Say hello world">
            </command>
            <command
                  commandId="ok.commands.sampleCommand4"
                  helpContextId="Nos dice hola"
                  icon="icons/sample.gif"
                  id="ok.toolbars.sampleCommand4"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
